<?php  $this->load->view( 'jx/open.html' ); ?>

<section id="conteudo"> <!--  open section conteudo -->
	<div class="left-content text-content">
		<div style="width: 63%; margin: 20px auto 0px auto; line-height: 16px;">
			<div class="mvm uiP fsm">
				<b style="font-size: 14px; line-height:50px;">
					Grupo de Amigos no <span class="destaque">Kikbook</span>
				</b>
				<br>
			</div>
			<br>
			Use os seus <a href="http://www.facebook.com/bookmarks/groups">grupos de amigos</a> do Facebook para criar rankings personalizados com campeonatos e rodadas.
			<br>
			<br>
		</div>
	</div>
	<div class="center-content">
		<?php $this->load->view('kikbook_show.html'); ?>
	</div>
</section> <!--  close section conteudo -->
<?php $this->load->view( 'jx/close.html' ); ?>
<?php $this->load->view( 'footer.html' ); ?>
