<?php  $this->load->view( 'open.html' ); ?>

<section id="conteudo"> <!--  open section conteudo -->
	<div class="left-content-full text-content">
		<div style="width: 90%; margin: 0px auto 0px auto; line-height: 16px;">
			<div class="mvm uiP fsm">
				Data da Última Revisão: 20 de maio de 2013.
				<br>
				<br>
				O Kikbook possui um programa de Kiks semelhante aos sistemas de milhagem de cartões de crédito. Nesta página explicamos como você pode conseguir Kiks e trocá-los por brindes.
				<br>
				<br>
				<h1>
					Programa de Kiks
				</h1>
				<br>
				 "Programa de Kiks" contém todos as regras para conquistar, perder e trocar os Kiks por brindes. Leia atentamente esta página para não perder Kiks e também conseguir o maior número possível de Kiks por rodada. Esperamos que logo você consiga algum de nossos brindes.
				 <br/>
				 Bom jogo.
			</div>
			<br />
			<br/>
			<div class="accordion" id="accordion_rules">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data1">
							<b>1. Definição</b>
						</a>
					</div>
					<div id="data1" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<p><span class="destaque">Kik</span> é o nome dado aos pontos após estes entrarem no programa de recompensa do <span class="destaque">Kikbook</span>.
							</p>
							<br/>
							<p>O programa foi criado para premiar a sua audiência no nosso aplicativo mas também penalisará a sua ausência.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div id="pesoRodada" class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data4">
							<b>2. Peso da Rodada</b>
						</a>
					</div>
					<div id="data4" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<p>Cada rodada disponibilizará sempre 50 <span class="destaque">Kiks</span> para serem conquistados pelos <span class="destaque">Kikers</span>.
							</p>
							<br/>
							<p>Quanto menos jogos uma rodada tiver, mais cada ponto conquistado valerá. Quanto mais jogos uma rodada tiver menos valerá os pontos conquistados. 
							</p>
							<br/>
							<p>Usamos como base o Campeonato Brasileiro que, na versão 2013, teve 10 jogos por rodada e, portanto, disponibilizou <b>5 Kiks por jogo</b> para quem acertou em cheio uma vitória ou um empate. 
							</p>
							<br/>
							<p>Esta é a fórmula para criar o peso da rodada: <b>( 10 Kiks por jogo / ( Qtde de Jogos da rodada ) ) = Peso da Rodada.</b> 
							</p>
							<br/>
							<p>Exemplo: 
							</p>
							<br/>
							<ol type="a">
								<li>Brasileirão 2013:
									<ul>
										<li>10 Jogos por Rodada;
										</li>
										<li>Peso 0,5 <span class="destaque">Kik</span> por Ponto;
										</li>
										<li>( ( 10 jogos * 10 pontos por acertos em cheio ) * 0,5 de peso ) = 50 Kiks;
										</li>
									</ul>
								
								</li>
								<br/>
								<li>Paulistão 2013:
									<ul>
										<li>10 Jogos por Rodada;
										</li>
										<li>Peso 0,5 <span class="destaque">Kik</span> por Ponto;
										</li>
										<li>( ( 10 jogos * 10 pontos por acertos em cheio ) * 0,5 de peso ) = 50 Kiks;
										</li>
									</ul>
								
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data2">
							<b>3. Como eu ganho <span class="destaque">Kiks</span>?</b>
						</a>
					</div>
					<div id="data2" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<p>Temos as seguintes formas para você conseguir <span class="destaque">Kiks</span>:
							</p>
							<br/>
							<ol type="i">
								<li>Chutando os resultados dos jogos cadastrados;
								</li>
								<li>Estar entre os 3 primeiros colocados em cada Rodada, e/ou na Melhor Rodada de cada campeonato e/ou Campeonato interiro. Note que sempre usaremos a visualização "Todos os Kikers" para determinar a colocação;
								</li>
								<li>Participando de campanhas de divulgação do <span class="destaque">Kikbook</span>:
								</li>
								<li>Desafiando amigos dentro do <span class="destaque">Kikbook</span> e apostando <span class="destaque">Kiks</span> com ele. Isso em Breve;
								</li>
							</ol>
							<br/>
							<p>Os pontos conquistado pelos chutes serão convertidos em <span class="destaque">Kiks</span> usando o "Peso da Rodada" após o término completo da rodada.
							</p>
							<br/>
							<p>Nas campanhas os <span class="destaque">Kiks</span> são determinados em cada uma e não há conversão, eles entram em seu Saldo assim que você clicar no link enviado.
							</p>
							<br/>
							<p>Nos desafios aos amigos, os <span class="destaque">Kiks</span> serão ganhos ou perdidos conforme as regras do poder "Desafio" que em breve estará no ar. Aguarde.
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data3">
							<b>4. Como eu perco <span class="destaque">Kiks</span>?</b>
						</a>
					</div>
					<div id="data3" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<p>Como este é um programa que premia a sua audiência, a sua ausência causará a perda de <span class="destaque">Kiks</span>. Nas seguintes formas:
							</p>
							<br/>
							<ol type="a">
								<li>
									<p>Todo <span class="destaque">Kik</span> tem um prazo de 6 meses para ser utilizado/trocado por brinde. Se você não fizer a troca dentro deste prazo o <span class="destaque">Kik</span> será cancelado e estornado no seu extrato.
									</p>
								</li>
								<br/>
								<li>
									<p>Cada jogo que você deixa de chutar causa a perda de <b>50%</b> dos <span class="destaque">Kiks</span> disponibilizados de acordo com o peso da Rodada. Exemplos: 
									<br/>
									<ol type="i">
										<li>Brasileirão 2012:
											<ol type="1">
												<li>10 Jogos por Rodada;
												</li>
												<li>Peso 1 <span class="destaque">Kik</span> por Ponto;
												</li>
												<li>Cada jogo pode dar até 10 Pontos para acerto em cheio que seriam convertidos para 5 <span class="destaque">Kiks</span>;
												</li>
												<li>Cada jogo não chutado tira 2,5 <span class="destaque">Kiks</span> do seu Saldo;
												</li>
											</ol>
										
										</li>
									</ol>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data5">
							<b>5. Saldo e Extrato de <span class="destaque">Kiks</span></b>
						</a>
					</div>
					<div id="data5" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<p>Em todas as páginas será exibido o seu "Saldo de <span class="destaque">Kiks</span>" logo abaixo do seu nome;
							</p>
							<br/>
							<p>Clicando sobre o saldo você pode visualizar o "Extrato de <span class="destaque">Kiks</span>" com o detalhemento completo sobre todos os movimentos de <span class="destaque">Kiks</span> que você tem até o momento. 
							</p>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_rules" href="#data6">
							<b>6. Como trocar <span class="destaque">Kiks</span> por Brindes?</b>
						</a>
					</div>
					<div id="data6" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Em breve explicaremos, mas já estamos confeccionando os brindes personalizados e também teremos os brindes padrões.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> <!--  close section conteudo -->
<?php $this->load->view('close.html'); ?>
<?php $this->load->view('footer.html'); ?>
