<?php  $this->load->view('open.html'); ?>


<section id="conteudo"> <!--  open section conteudo -->
	<div class="left-content-full">
		<div style="width: 63%; margin: 0px auto 0px auto; line-height: 16px;">
			<div class="mvm uiP fsm">
				<b style="font-size: 14px; line-height:50px;">
					Política de Privacidade
				</b>
				<br>
			</div>
			<div class="accordion" id="accordion_privacy">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_privacy" href="#data1">
							<b>1. Seus dados</b>
						</a>
					</div>
					<div id="data1" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							O Kikbook está totalmente integrado ao Facebook e utiliza apenas os dados que foram autorizados por você para leitura e que são usados para criar um ambiente personalizado para você no jogo.
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_privacy" href="#data2">
							<b>2. Em nossa base de dados armazemos apenas</b>
						</a>
					</div>
					<div id="data2" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<ol>
								<li> Seu nome para exibição em Rankings e chutes.
								</li>
								<li> Seu e-mail apenas para envio de avisos, caso seja configurado.
								</li>
								<li> Sua data de aniversário usada internamente apenas para estatísticas e jamais divulgada.
								</li>
								<li> Seu sexo para personalizações e estatísticas.
								</li>
								<li> Seu time favorito para estatísticas e para cálculos de pontos.
								</li>
								<li> Sua lista de Amigos para que possamos criar um ambiente particular contendo apenas pessoas que você conhece.
								</li>
								<li> Seus Grupos para criar ambientes com cálculos de pontos só de vocês.
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_privacy" href="#data3">
							<b>3. Outras autorizações</b>
						</a>
					</div>
					<div id="data3" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							<ol>
								<li> O Kikbook exibirá a sua foto de perfil do Facebook em várias páginas, sempre que o seu nome for exbidio, assim seus amigos o identificarão de uma forma mais fácil.
								</li>
								<li> Nós também publicaremos em seu nome os resultados, rankings e outros conteúdos através de botões que serão exibidos em diversos pontos do aplicativo. Jamais publicaremos nada sem que você intereja diretamente com a publicação.
								</li>
								<li> Nós enviaremos a você notificações no Facebook caso você tenha configurado isso <a href="http://kikbook.com/user_cfg/profile">aqui</a>.
								</li>
								<li> Nos enviaremos a você e-mails para o seu e-mail cadastrado no Facebook caso você tenha configurado isso <a href="http://kikbook.com/user_cfg/profile">aqui</a>.
								</li>
								<li> Nos enviaremos a você notificações que são exibidas nas páginas do Kikbook, este tipo de notificação não pode ser desconfigurada. Precisamos de alguma forma falar com você.
								</li>
							</ol>
							<br>
							Você pode modificar estas configurações em <a href="http://kikbook.com/user_cfg/profile">configurações de conta.</a>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion_privacy" href="#data4">
							<b>4. Cancelamento</b>
						</a>
					</div>
					<div id="data4" class="accordion-body collapse" style="height: 0px;">
						<div class="accordion-inner">
							Mas se você, por algum motivo, quiser cancelar nossas autorizações de acesso aos seus dados basta acessar a <a href="http://www.facebook.com/settings/?tab=applications">configuração de aplicativos</a> do Facebook e remover o Kikbook da lista.
							<br>
							<br>
							Após o cancelamento o Kikbook não terá mais direito de acesso aos seus dados e também não fará mais nenhum tipo de comunicações com você. Manteremos todos os seus dados "congelados" em nossa base de dados e ficaremos felizes quando quiser voltar.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> <!--  close section conteudo -->
<?php $this->load->view('close.html'); ?>
<?php $this->load->view('footer.html'); ?>
