<?php  $this->load->view('open.html'); ?>

<section id="conteudo"> <!--  open section conteudo -->

<section id="conteudo"> <!--  open section conteudo -->
	<div class="left-content-full">
		<div style="width: 63%; margin: 0px auto 0px auto; line-height: 16px;">
			<div class="mvm uiP fsm">
				<b style="font-size: 14px; line-height:50px;">
					Suporte ao <span class="destaque">Kikbook</span>
				</b>
				<br>
			</div>
			<ol style="margin: 18px auto;">
				<li style="margin-bottom: 16px;">
					<b>Comunidade</b>
					<br>
					<br>
					Todo suporte ao <span class="destaque">Kikbook</span> será feito através da nossa <span class="destaque"><a href="http://www.facebook.com/kikbookoficial">comunidade no Facebook</a></span>.
					<br>
					<br>
					Use nossa comunidade para:
					<br>
					<br>
					<ol>
						<li>Postar as suas dúvidas.</li>
						<li>Postar comentários.</li>
						<li>Postar sugestões.</li>
						<li>Postar críticas.</li>
					</ol>
					<br>
					Nós faremos de tudo para responder o quanto antes.
				</li>
			</ol>
		</div>
	</div>
</section> <!--  close section conteudo -->
<?php $this->load->view('close.html'); ?>
<?php $this->load->view('footer.html'); ?>
