<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><?php echo $this->config->item( 'system_title' ); ?></title>
		<link rel="shortcut icon" href="/assets/img/favicon.ico">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
		<link rel="stylesheet" href="/assets/css/reset.css?v=1.3">
		<link rel="stylesheet" href="/assets/css/styles.css?v=1.24">
		<script src="/assets/js/modernizr.min.js?v=1.2"></script>
	</head>
	<body style="background-color: #FFF;">
		<div>
			<img src="http://www.w3schools.com/images/html5_badge_128.gif" width="50" height="50" style="border:0; float: right; margin-top: 15px; margin-right: 15px;" title="HTML5">
			<img src="/assets/kik/img/little-logo.png"  style="float: left; margin-top: 5px;" class="image" />
		</div>
		<header>
			<div style="padding-left:20px; margin: auto; width: 640px; padding-top: 25px; ">
				<h4 style="font: normal 20px Arial; color: #f26122;">Para utilizar o Kik Book você precisa atualizar o seu navegador da internet.</h4>
				<br/>
				<p style="font: normal 13px Arial; color: #000;">Se quiser fazer isso agora, basta selecionar um dos navegadores abaixo:</p>
				<br/>
				<div style="text-align: left; padding-left: 50px; ">
					<a style="font: normal 13px Arial; color: #0071a5;" href="https://www.google.com/chrome" target="_blank">Google Chrome;</a>
					<br/>
					<br/>
					<a style="font: normal 13px Arial; color: #0071a5;" href="http://www.mozilla.org/pt-BR/firefox/new/" target="_blank">Firefox;</a>
					<br/>
					<br/>
					<a style="font: normal 13px Arial; color: #0071a5;" href="http://www.opera.com/download/" target="_blank">Opera;</a>
					<br/>
					<br/>
					<a style="font: normal 13px Arial; color: #0071a5;" href="http://www.apple.com/safari/download/" target="_blank">Apple Safari;</a>
					<br/>
					<br/>
					<a style="font: normal 13px Arial; color: #0071a5;" href="http://windows.microsoft.com/pt-BR/internet-explorer/downloads/ie-9/worldwide-languages" target="_blank">Internet Explorer 9;</a>
					<br/>
					<br/>
					<a style="font: normal 13px Arial; color: #0071a5;" href="http://windows.microsoft.com/pt-BR/internet-explorer/downloads/ie-8" target="_blank">Internet Explorer 8;</a>
					<p style="font: normal 10px Arial; color: #000;">Só utilize a versão 8 do Internet Explorer se você estiver no Windows XP ou Vista. Se estiver no Windows 7 ou Windows 8 selecione o <a style="font: normal 13px Arial; text-decoration: none; color: #0071a5;" href="http://windows.microsoft.com/pt-BR/internet-explorer/downloads/ie-9/worldwide-languages" target="_blank">IE 9</a>.</p>
					<br/>
					<br/>
				</div>
				<br/>
				<p style="font: normal 10px Arial; color: #333;">O Kik Book foi desenvolvido com a última tecnologia WEB e utliza HTML5 e CSS3. Infelizmente o seu navegador não suporta este tipo de tecnologia. A atualização vai beneficiar a sua navegação na internet em quase todos os sites.</p>
				<br/>
				<br/>
			</div>
		</header>
		<script src="/assets/js/jquery.min.js?v=1.2"></script>
		<script src="/assets/js/jx_functions.js?v=1.29"></script>
		<script src="/assets/js/resize.js?v=1.6"></script>
		<div class="footer" style="font: normal 13px Arial; color: #0071a5; width: 980; margin: auto; text-align: center;">
			<div class="copyright">
				<a href="http://singlesolutions.com.br">Single Solutions (c) 2012</a>
			</div>
		</div>
	</body>
</html>
