<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><?php echo $this->config->item( 'system_title' ); ?></title>
		<link rel="shortcut icon" href="/assets/img/favicon.ico">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
		<link rel="stylesheet" href="/assets/css/reset.css?v=1.3">
		<link rel="stylesheet" href="/assets/css/styles.css?v=1.24">
		<script src="/assets/js/modernizr.min.js?v=1.2"></script>
	</head>
	<body style="background-color: #333333;">
		<div>
			<img src="/assets/img/bolao_book_img.png"  style="float: left; margin-top: 5px; width: 100px; height: 80px;" class="image" />
			<img src="/assets/img/kik_book.png" style="margin-top: 30px; postion: fixed; height:65px; width: 126px;" />
		</div>
		<header>
			<div style="padding-left:20px; margin: auto; width: 640px; padding-top: 25px; ">
				<h4 style="font: normal 20px Arial; color: #f26122;">Desculpe, mas não foi possível realizar o login do seu usuário do Facebook no Kikbook.</h4>
				<br/>
				<p style="font: normal 13px Arial; color: whiteSmoke;">Veja se o seu usuário já está confirmado no cadastro do Facebook em:</p>
				<br/>
				<div style="text-align: left; padding-left: 50px; ">
					<a style="font: normal 13px Arial; text-decoration: none; color: #0071a5;" href="http://www.facebook.com/settings?tab=account&section=username&view" target="_blank">Facebook, configurações para novos usuários.</a>
					<br/>
				</div>
				<br/>
				<div style="text-align: left; padding-left: 50px; ">
					<a style="font: normal 13px Arial; text-decoration: none; color: #0071a5;" href="http://www.facebook.com/recover.php" target="_blank">Troque a sua senha no Facebook. Algumas vezes sua conta, mesmo conectando, fica bloqueada para os aplicativos.</a>
					<br/>
				</div>
				<br/>
				<div style="text-align: left; padding-left: 50px; ">
					<a style="font: normal 13px Arial; text-decoration: none; color: #0071a5;" href="http://www.facebook.com/help" target="_blank">Suporte do Facebook para resolver o problema com sua conta.</a>
					<br/>
				</div>
				<br/>
				<p style="font: normal 13px Arial; color: whiteSmoke;">Caso o problema persista, entre em contato conosco através da nossa comunidade em:</p>
				<br/>
				<div style="text-align: left; padding-left: 50px; ">
					<a style="font: normal 13px Arial; text-decoration: none; color: #0071a5;" href="https://www.facebook.com/pages/Comunidade-Kik/428031607209234" target="_blank">Comunidade Kik no Facebook;</a>
					<br/>
				</div>
				<br/>
			</div>
		</header>
		<script src="/assets/js/jquery.min.js?v=1.3"></script>
		<script src="/assets/js/jx_functions.js?v=1.29"></script>
		<script src="/assets/js/resize.js?v=1.6"></script>
		<div style="margin-bottom: 0px;">
			<div style="text-align: center;">
				<a href="http://singlesolutions.com.br" style="text-decoration: none; color: whitesmoke;">Single Solutions (c) 2012</a>
			</div>
		</div>
	</body>
</html>
