<?php if ( isset( $total_rows_classif ) && $total_rows_classif > 0 ) :?>
	<?php $grupo_id_ant = -1; ?>
	<?php foreach( $rows_classif as $row ): ?>
		<?php if ( $row->grupo_id != $grupo_id_ant ) : ?>

			<?php if ( $grupo_id_ant != -1 ) : ?>
						</tbody>
					</table>
				</div>
				</div>
			<?php endif; ?>

			<?php $grupo_id_ant = $row->grupo_id; ?>
			<?php $tr_ctrl = 'in'; ?>

			<div class="pre_grupo_equipe">
			<div class="grupo_equipe">

			<?php if ( $row->nome_grupo ) : ?>
					<h4><?php echo $row->nome_grupo; ?></h4>
			<?php endif; ?>
			
					<table class="clas">
						<?php $this->load->view('portlet/classificacao_resumo_header.html'); ?>
						<tbody>
		<?php endif; ?>
							<tr class="clas <?php if ( $tr_ctrl == 'in' ) { $tr_ctrl = 'out'; echo 'out'; } else { $tr_ctrl = 'in'; echo 'in'; } ?>" id="<?php if ( isset( $row->id ) ) { echo $row->id; } ?>" eqp_id="<?php echo $row->equipe_id;?>" rod_id="<?php echo $row->rodada_fase_id; ?>" show_chart="false">
								<?php if ( $row->situacao == 'L' ) :?>
									<td class="posicao number libertadores">
										<span title="<?php echo $this->lang->get_line( 'libertadores', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'P' ) :?>
									<td class="posicao number prelibertadores">
										<span title="<?php echo $this->lang->get_line( 'prelibertadores', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'S' ) :?>
									<td class="posicao number sulamericana">
										<span title="<?php echo $this->lang->get_line( 'sulamericana', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'R' ) :?>
									<td class="posicao number rebaixado">
										<span title="<?php echo $this->lang->get_line( 'rebaixado', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'C' ) :?>
									<td class="posicao number classificado">
										<span title="<?php echo $this->lang->get_line( 'classificado', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'E' ) :?>
									<td class="posicao number eliminado">
										<span title="<?php echo $this->lang->get_line( 'eliminado', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php elseif ( $row->situacao == 'M' ) :?>
									<td class="posicao number repescagem">
										<span title="<?php echo $this->lang->get_line( 'repescagem', $master_table );?>"><?php echo $row->posicao; ?></span>
									</td>
								<?php else:?>
									<td class="posicao number nor">
										<span title=""><?php echo $row->posicao; ?></span>
									</td>
								<?php endif;?>
								<td class="eqp-img img">
									<img class="eqp-img" title="<?php echo $row->nome; ?>" src="<?php echo $images_classif[ $row->equipe_id ] ?>"/>
								</td>
								<td class="nome text" title="<?php echo $this->lang->get_line( 'equipe', $master_table );?>">
									<?php if ( $row->id_facebook ) : ?>
										<a href="http://www.facebook.com/<?php echo $row->id_facebook; ?>"><?php echo $row->nome; ?></a>
									<?php else : ?>
										<?php echo $row->nome; ?>
									<?php endif; ?>
								</td>
								<td class="chart-btn">
									<button class="show-chart btn btn-mini" title="Exibir Gráfico"><i class="icon-signal"></i></button>
								</td>
								<td class="ponto number-<?php if ( $row->total_ponto >= 0 ) { echo 'pos'; } else { echo 'neg'; }?>" title="<?php echo $this->lang->get_line( 'pontos', $master_table );?>">
									<?php echo $row->total_ponto; ?>
								</td>
								<td class="jogo number-<?php if ( $row->total_jogo >= 0 ) { echo 'pos'; } else { echo 'neg'; }?>" title="<?php echo $this->lang->get_line( 'jogos', $master_table );?>">
									<?php echo $row->total_jogo; ?>
								</td>
							</tr>
							<tr style="display: none;" class="clas chart <?php echo $tr_ctrl; ?>" id="<?php if ( isset( $row->id ) ) { echo $row->id; } ?>" eqp_id="<?php echo $row->equipe_id;?>" rod_id="<?php echo $row->rodada_fase_id; ?>" show_chart="false">
								<td colspan="6">
									<div id="chart_eqp_<?php echo $row->equipe_id; ?>">
										<div id="chartcontainer<?php echo $row->equipe_id; ?>"></div>
									</div>
								</td>
							</tr>
	<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
<?php else :?>
	<div class="no-data-found">
		<img src="/assets/<?=$theme;?>/img/warning.png">
		<h4><?php echo $this->lang->get_line( 'no_data_found' );?></h4>
	</div>
<?php endif; ?>
