<!--  close -->
					<tr>
						<td style="padding-top: 20px;">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							<table bgcolor="#eeeeee" border="0" cellpadding="0" cellspacing="0" width="670" class="frame footer" style="background-color:#eee;background-image:url('http://kikbook.com/assets/img/email-shadow-bottom.jpg?v=1.1');background-position:top;background-repeat:repeat-x;border-top-color:#ddd;border-top-style:solid;border-top-width:1px;">
								<tbody>
									<tr>
										<td colspan="4" height="16" class="footer-padding-top">
										</td>
									</tr>
									<tr>
										<td class="col cut" style="width:85px;">
										</td>
										<td class="footer_body media_footer" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;line-height:17px;color:#777;text-shadow:0 1px 0 #fff;">
											<div>
												Mensagem automática, caso você não queira mais recebê-la <a href="http://kikbook.com/user_cfg/profile" style="border:none;color:#0084b4;text-decoration:none;">mude sua configuração</a>.
											</div>
											<div class="reset">
												Não quer mais jogar, acesse nossa <a href="http://kikbook.com/regra/privacy" style="border:none;color:#0084b4;text-decoration:none;">Política de Privacidade</a> e entenda como cancelar nossas autorizações.
											</div>
										</td>
										<td class="col cut" style="width:85px;"></td>
									</tr>
									<tr>
										<td class="col cut" style="width:85px;">
										</td>
										<td class="footer_body media_footer" style="text-align: center;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;line-height:17px;color:#777;text-shadow:0 1px 0 #fff;">
											<div>
												<a onclick="return checkLinkHref(this.href);" href="http://kikbook.com" class="address" style="border:none;color:#0084b4;text-decoration:none;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;text-decoration:none;font-size:11px;line-height:17px;color:#999999;text-shadow:0 1px 0 #fff;">Kikbook <span class="nobreak" style="white-space:nowrap;">, Copyright &copy; 2013. Todos os direitos reservados.</span>
												</a>
											</div>
										</td>
										<td class="col cut" style="width:85px;"></td>
									</tr>
									<tr>
										<td colspan="3" class="footer-padding-bottom" height="25"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>